<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/admin/style.css">
</head>
<body>
    





    <%-include('../../partials/admin/header.ejs');%>

<section id="mid">
    <div class="container">
        <div class="row">

            <%-include('../../partials/admin/left.ejs');%>
                <div class="col-md-9">
                    <h2 class="text-center text-primary">Banner Page Details</h2>
                    <% if(message!=='hello'){%>
                    <div class="text-danger"><%=message%></div>
                <%}%>
                    <table class="table table-hover mt-4">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Long Description</th>
                            <th>Baner image</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>
                                <%=bannerRecords.title%>
                            </td>
                            <td>
                                <%=bannerRecords.desc%>
                            </td>
                            <td>
                                <%=bannerRecords.ldesc%>
                            </td>
                            <td>
                                 <%=bannerRecords.img%>
                                </td>
                            <td><a href="/admin/bannerupdate/<%=bannerRecords.id%>"><i class="bi bi-pencil"></i></a></td>
                        </tr>
                        
                    </table>
                </div>
        </div>

    </div>
</section>

<%-include('../../partials/admin/footer.ejs');%>
</body>
</html>